// ─── Variables ─────────────────────────────────────────
$beige:       #F0EBE1;

$font-display: 'Cormorant Garamond', Georgia, serif;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=DM+Sans:wght@300;400;500&display=swap');

// ─── Body ────────────────────────────────────────────

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $font-display;
  background-color: $beige;
}
